@font-face {
    font-family: 'Raleway';
    src: url(/police/Raleway-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}
#global-page-{
    width: 100vh;
    margin: auto;
    
}
/* ************************************Parametres géneraux*********************************************** */
body{
    font-family: raleway,cursive;
    width:1480px;
    margin: auto;
    
    
    
}
/* *************************************En-tête de la page*********************************************** */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
#Nom-site{
    width: 140px;
    
}
#nav-bar{
    display: flex;
    flex-direction: row;
    padding-right: 15px;
    list-style-type: none;
}
nav a{
    padding-right: 20px;
    text-decoration: none;
    color: #0065FC;
    font-size: 20px;
    margin-left: 40px;
}
#inscrire{
    font-weight: bold;
}

/* **************************************Zone de recherche + filtres************************************* */
.filtre{
    display: flex;
    align-content: center;
    margin: 20px;
    padding-right: 20px;
    width: 100%;
}
.zone-filtre{
    display: flex;
    padding-right: 20px;
    align-items: center;
}
.item-filtre{
    display: flex;
    align-items: center;
    border: #F2F2F2 solid 2px;
    border-radius: 26px;
    padding-right: 20px ;
    height: 48px;
    font-size: 1em;
    margin-left: 20px;
    margin-right: 5px;
    position: relative;
}
.icone-filtre{
    color:#0065FC;
    font-size: 21px;
    text-align: center;
    margin-top: 15px;
    }
.Nom-filtre{
    padding-right: 20px;
    padding-left: 70px;
}
.icone{
    height: 48px;
    border: solid 2px #DEEBFF ;
    border-radius: 52px;
    width: 48px;
    background-color: #DEEBFF ;
    text-align: center;
    margin-right: 2px;
    padding-right: 2px;
    position: absolute;
}
/* ************************************Contenus des héberegements et activités + aside************************* */