/* Parametres globaux */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", sans-serif;
  color: black;
  line-height: 1.6;
  max-width: 100vw;
}
p,
li {
  font-size: 0.8rem;
}
h1,
h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  color: black;
}

/* Mis en forme du menu de navigation */
.section-nav {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}
.logoName {
  height: 50px;
  width: 120px;
  padding: 10px 0px 0px 30px;
}
.SiteName {
  display: flex;
  align-items: center;
  width: 93%;
  height: 100px;
}
.NaviBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100px;
}
.Nav-blue,
.Nav-bold {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 100px;
  text-decoration: none;
}
.lien-nav-blue,
.lien-nav-bold {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 100px;
  text-decoration: none;
  color: black;
  font-weight: 400;
  border-top: white solid 2px;
}
.lien-nav-bold {
  color: #0065fc;
  font-weight: bold;
}
.lien-nav-blue:hover {
  color: #0065fc;

  border-top: #0065fc solid 2px;
}
/* Mis en forme du header avec le menu de recherche  */

.Search-container {
  width: 80%;
  height: 220px;
  padding-left: 30px;
  margin-bottom: 15px;
}
.Title-search {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

.search {
  display: flex;
  justify-content: space-aroun;
  align-items: center;
  height: 45px;
  width: 100%;

  margin-bottom: 20px;
}
.point-map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
}
.textarea {
  height: 45px;
  display: flex;
  justify-content: center;
  border-bottom: #f2f2f2 solid 1px;
  border-top: #f2f2f2 solid 1px;
}
.input-search {
  border: none;
  height: 43px;
  font-weight: bold;
  color: black;
  padding-left: 10px;
}
.button-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 120px;
  border: #0065fc solid 1px;
  background-color: #0065fc;
  color: white;
  border-radius: 0 15px 15px 0;
}

.Filter-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 76%;
  height: 50px;
  margin-bottom: 20px;
}
.Title-filter {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.items-filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
}
.Button-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200p;
  height: 40px;
  border: #f2f2f2 solid 2px;
  border-radius: 30px;
  position: relative;
}
.Filter-icone {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  font-size: 15px;
  width: 40px;
  height: 40px;
  border-radius: 42px;
  background-color: #deebff;
  position: absolute;
  left: -1px;
  cursor: pointer;
}
.Filter-icone:hover {
  color: #deebff;
  background-color: #0065fc;
}
.Filter-name {
  padding-left: 50px;
  padding-right: 20px;
}

.info-circle {
  display: flex;
  align-items: center;
  height: 20px;
  width: 100%;
}
.Text-info {
  height: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.Icon-info {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #f2f2f2 solid 2px;
  border-radius: 25px;
  color: #0065fc;
}
/* Partie section Hébergements */
.Hebergements-marseille {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}
.Title-section {
  width: 90%;
  height: 50px;
  padding-top: 20px;
  text-decoration: none;
}
.Hebergements {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 5px;
  margin-right: 40px;
  height: 700px;
}
.logements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
}
.visuel-logement {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 25%;
  height: 200px;
  border-radius: 20px;
  background-color: white;
  padding: 5px;
}

.Visual-Card1 {
  background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  width: 100%;
  height: 130px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: center;
}
.Visual-Card2 {
  background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  width: 100%;
  height: 130px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: center;
}
.Visual-Card3 {
  background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  width: 100%;
  height: 130px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: center;
}
.Visual-Card4 {
  background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  width: 100%;
  height: 130px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: center;
}
.Visual-Card5 {
  background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  width: 100%;
  height: 130px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: center;
}
.Visual-Card6 {
  background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  width: 100%;
  height: 130px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: center;
}
.Title-Card {
  width: 100%;
  padding-left: 10px;
}
.fa-star {
  color: #0065fc;
}
.deactivated {
  color: #f2f2f2;
}
/* Mise en forme de l'aside */

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 15px;
}
.Title-pop {
  width: 85%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.Pop-card {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 87%;
  height: 170px;
  border-radius: 20px;
  background-color: white;
  padding: 5px;
}
.Visual-pop1 {
  background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  width: 30%;
  height: 160px;
  border-radius: 15px 0 0 15px;
  background-size: cover;
  background-position: center;
}

.Visual-pop2 {
  background-image: url("./images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
  width: 30%;
  height: 160px;
  border-radius: 15px 0 0 15px;
  background-size: cover;
  background-position: center;
}
.Visual-pop3 {
  background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  width: 30%;
  height: 160px;
  border-radius: 15px 0 0 15px;
  background-size: cover;
  background-position: center;
}
.Pop-location {
  width: 40%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Mis en place de la partie Activités à Marseille
 */
 
 .Activity-marseille{
     width: 100%;
     padding: 20px;
     display: flex;
     flex-direction: column;
     height: 756px;
 }
 .Bloc-activityMarseille{
    width: 100%;
    height: 45px; 
}

 .Bloc-card{
     width: 100%;
     height: 600px;
     display: flex;
     justify-content: space-between;
 }
 .Activity-bloc14
 {
  width: 20%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
 } 
  
  
.Size-image14{
    
    width: 100%;
    height: 756px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.Title-activity{
    height: 70px;
    width: 95%;
    padding-left: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Activity-bloc2356
 {
  width: 20%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  
  
 } 
.Little-card26{
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    
    
}
.Little-card35{
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.Size-image26{
    
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.Size-image35{
    
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
/* Fin de la section Activités à Marseille */

/* Mis en place du footer */
footer{
    width: 100%;
    height: 160px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
}
.Bloc-footer{
    width: 30%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.Bloc-footer ul{
    list-style-type: none;
    line-height: 1.5rem;
}
/* Fin de la mise en forme du Footer */